body {
  margin: 0;
    padding-left: 10% !important;
  padding-right: 10% !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-logo{
  width: 104px;
  height: auto;
 padding-top: 15px;
}
.pad-top-8{
  padding-top: 8%;
}
@media screen and (max-width: 39.99875em) {
  body{
  padding-left: 3% !important;
  padding-right: 3% !important;
  }
}